<!DOCTYPE html>
<html>
    <head>
        <title>Map</title>
    </head>

    <body>
        <div>
            <h2>
                To view a map of predictions, please change the URL route to <b>/ais_input_len/test_set_index</b>.
            </h2>
            <h2>
                For example, to view the map of predictions for the first test set with an AIS input length of 12 messages, change the URL route to <a href="/12/0">/12/0</a>.
            </h2>
            <hr>
            <h2>Input length in example dataset: 12</h2>
            <h2>Indexes in example dataset: 0-19</h2>
            <p>Generate more trajectories with the TrAISformer model to get more tracks, or other input lengths.</p>
        </div>
        <hr>
        <div>
            <h2>Other endpoints</h2>
            <ul>
                <li>/ports -> Shows all ports in the dataset</li>
                <li>/area  -> Visualizes the Region Of Interest used</li>
            </ul>
        </div>
    </body>
</html>
